:root {
  --main-color: #bb86fc;
  --main-color-darker: #994af1;
  --background-color-main: #1f1b24;
  --background-color: #090c15;
  --color-text-primary: #cbd4d9;
  --color-text-secondary: #929fa5;
  --color: rgb(255, 255, 255);
  --soft-color: rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
  --error: #cf6679;
}
* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.popup {
  transition: 500ms;
  position: fixed;
  z-index: 32;
  left: 50%;
  top: 50%;
  padding: 12px;
  background-color: var(--background-color);
  transform: translate(-50%, -50%);
  border: 2px solid var(--color);
  border-radius: var(--border-radius);
}
